<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" , rel="stylesheet">
</head>

<body>
    <footer class="flex items-center justify-center text-xl sm:text-center bg-[#EBEBEB] ">
        <p class="p-5 text-black">Created by Ibifaa &copy; <span class="date">data</span> | all right reserved</p>
    </footer>
    <script src="/js/year.js"></script>
</body>

</html>