<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" , rel="stylesheet">
</head>

<body>
    <header class="">
        <nav class="py-4 flex justify-between ">
            <div
                class="logo-section w-[100px] h-[30px] py-4 px-[50px] rounded-[40px] bg-[#026FDF] text-center flex justify-center items-center">
                <h3 class="text-2xl text-[#fff] font-iA">Ib</h3>
                <h3 class="text-[#fff] text-xl font-iA">.Quiz</h3>
            </div>
            <div class="sm:hidden lg:block">
                <ul class="lg:gap-4 lg:justify-center sm:hidden md:flex lg:flex ">
                    <li class="active:text-[#026FDF]  hover:text-xl"><a href="/">Home</a></li>
                    <li class="hover:text-[#026FDF] hover:text-xl"><a href="/registration-form">Register</a></li>
                    <li class="hover:text-[#026FDF] hover:text-xl"><a href="/login-form">Login</a></li>
                    <li class="hover:text-[#026FDF] hover:text-xl"><a href="/login-form">Take a Test</a></li>
                </ul>
            </div>
            <div class="burger sm:block lg:hidden">
                <img src="/images/icon-hamburger.svg" alt="icon-hamburger">
            </div>
        </nav>
    </header>
</body>

</html>