<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" , rel="stylesheet">
</head>

<body>
    <header class="bg-[#EBEBEB] ">
        <nav class="py-3 flex justify-between p-4 sm:p-3 items-center">
            <div
                class="logo-section  py-[2px] px-7 rounded-[40px] font-bold text-center flex justify-center items-center">
                <h3 class="text-2xl text-[#026FDF] font-iA">Ib</h3>
                <h3 class="text-[#026FDF] text-xl font-iA">Quiz</h3>
            </div>
            <div class=" sm:hidden lg:flex text-black">
                <ul class="lg:gap-4 lg:justify-center flex">
                    <li class="active:text-[#026FDF]  hover:text-xl"><a href="/">Home</a></li>
                    <li class="hover:text-[#026FDF] hover:text-xl"><a href="/signup">Register</a></li>
                    <li class="hover:text-[#026FDF] hover:text-xl"><a href="/login">Login</a></li>
                    <li class="hover:text-[#026FDF] hover:text-xl"><a href="/login">Take a Test</a></li>
                </ul>
            </div>
            <div class="burger sm:block lg:hidden">
                <img src="/images/icon-hamburger.svg" alt="icon-hamburger">
            </div>
        </nav>
    </header>
</body>

</html>